<div style="width:600px; margin:0 auto;">
<h5><i><%= link_to "Twentiments > " , :friends  %><%= "compare" %></i></h5>
<div class="row" >
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text hoverCard1" style="background-color:<%= @scoreColor %>" >
              <span class="card-title"> <img src="<%= @user1tweets[9].user.profile_image_url%>"> <%= link_to @user1Friend[0].firstName, "/friends/" + @user1Friend[0].twitterHandle %> 
                <i><%=link_to "@" + @user1Friend[0].twitterHandle, "http://twitter.com/" + @user1Friend[0].twitterHandle %></i>
              </span>
              <h5 class='tweet'><div id='reporting1'>Hover over chart below to view prior tweets.</div></h5>
            </div>
          </div>
        </div>

<!-- Second Card -->

        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text hoverCard2" style="background-color:<%= @scoreColor %>" >
              <span class="card-title"> <img src="<%= @user2tweets[9].user.profile_image_url%>"> <%= link_to @user2Friend[0].firstName, "/friends/" + @user2Friend[0].twitterHandle %> 
                <i><%=link_to "@" + @user2Friend[0].twitterHandle, "http://twitter.com/" + @user2Friend[0].twitterHandle %></i>
              </span>
              <h5 class='tweet'><div id='reporting2'>Hover over chart below to view prior tweets.</div></h5>
            </div>
          </div>
        </div>
      </div>



<!-- Start Chart   -->
<div id="container" style="width:100%; height:400px;"></div>


      <script>
$(function () {
    var $reporting1 = $('#reporting1');
    var $reporting2 = $('#reporting2');
    var $hoverScore1 = $('#hoverScore1');
    var $hoverScore2 = $('#hoverScore2');
    var colorArray = [      "#FF5782",  
                            "#FF5782",  
                            "#FF5782",  
                            "#FF5782",  
                            "#607D8B",  
                            "#607D8B",  
                            "#607D8B",  
                            "#8BC34A",  
                            "#8BC34A",  
                            "#8BC34A",  
                            "#8BC34A" ]
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'spline',
            backgroundColor: 'rgba(255, 255, 255, 0.1)'
        },  

        title: {
            text: ""
        },
        credits: {
            enabled: false
        },
        xAxis: {

            categories: ['','','','','','','','','',"Latest Tweet"]
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
              text: "Sentiment Analysis Scores"
            }
        },
        
        series: [{
            name: '<%= @user1Friend[0].firstName %>',
            data: [{
                y: <%= @user1LatestTweets[9].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[9].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[9].tweetScore %>
            }, {
                y: <%= @user1LatestTweets[8].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[8].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[8].tweetScore %>
            }, {
                y: <%= @user1LatestTweets[7].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[7].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[7].tweetScore %>
            },{
                y: <%= @user1LatestTweets[6].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[6].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[6].tweetScore %>
            },{
                y: <%= @user1LatestTweets[5].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[5].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[5].tweetScore %>
            },{
                y: <%= @user1LatestTweets[4].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[4].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[4].tweetScore %>
            },{
                y: <%= @user1LatestTweets[3].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[3].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[3].tweetScore %>
            },{
                y: <%= @user1LatestTweets[2].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[2].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[2].tweetScore %>
            },{
                y: <%= @user1LatestTweets[1].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[1].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[1].tweetScore %>
            },{
                y: <%= @user1LatestTweets[0].tweetScore %>,
                tweet1: "<%= @user1LatestTweets[0].tweetText.gsub(/\n/,"") %>",
                tweet1val: <%= @user1LatestTweets[0].tweetScore %>
            }]
        },{
            name: '<%= @user2Friend[0].firstName %>',
            data: [{
                y: <%= @user2LatestTweets[9].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[9].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[9].tweetScore %>
            }, {
                y: <%= @user2LatestTweets[8].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[8].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[8].tweetScore %>
            }, {
                y: <%= @user2LatestTweets[7].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[7].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[7].tweetScore %>
            },{
                y: <%= @user2LatestTweets[6].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[6].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[6].tweetScore %>
            },{
                y: <%= @user2LatestTweets[5].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[5].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[5].tweetScore %>
            },{
                y: <%= @user2LatestTweets[4].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[4].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[4].tweetScore %>
            },{
                y: <%= @user2LatestTweets[3].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[3].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[3].tweetScore %>
            },{
                y: <%= @user2LatestTweets[2].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[2].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[2].tweetScore %>
            },{
                y: <%= @user2LatestTweets[1].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[1].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[1].tweetScore %>
            },{
                y: <%= @user2LatestTweets[0].tweetScore %>,
                tweet2: "<%= @user2LatestTweets[0].tweetText.gsub(/\n/,"") %>",
                tweet2val: <%= @user2LatestTweets[0].tweetScore %>
            }]
        }






        ],
        plotOptions: {
            series: {
                point: {
                    events: {
                        mouseOver: function () {
                            $reporting1.html(this.tweet1).twitter_autolink();
                            $reporting2.html(this.tweet2).twitter_autolink();
                            $('.hoverCard1').css('background-color', colorArray[Math.round((this.tweet1val)/10)]);
                            $('.hoverCard2').css('background-color', colorArray[Math.round((this.tweet2val)/10)]);
                        }
                    }
                }

            }
        },
        tooltip: {
            animation: false,
            followPointer: false,
            shadow: false,
        	shared: true,
            backgroundColor: 'rgba(255, 255, 255, 0.1)',
            borderColor: 'rgba(255, 255, 255, 0.1)',
            borderRadius: 10,
            borderWidth: 2,
            crosshairs: [true, false],
            formatter: function() {
            },
            positioner: function () {
                return { x: 10, y: 35 };
            }

        }
    });
});
</script>
<style>
.card,
.card-content {
	min-width: 100px;
	min-height: 450px;
}
</style>