
<div style="width:600px; margin:0 auto; min-height:400px">
<h4 style=""></h4>
<ul class="collapsible" data-collapsible="accordion">

<% @friends.each do |friend| %>
    <li>
    <% latestTweet = CLIENT.user_timeline(friend.twitterHandle)[0] %>
    <% score = (Indico.sentiment(latestTweet.text)*100).round %>

      <div class="collapsible-header" style="background-color:<%= @scoreColorArray[(score/10).round]%>; color=#FFFFFF ">

      	<span><img src="<%= latestTweet.user.profile_image_url %>" width="50" height="50"></span>
        <span style='color:#FFA292; font-size:2em;'><%= friend.firstName %></span>


      </div>
      <div class="collapsible-body">
      	<p>
        <%= auto_link(latestTweet.text).html_safe %>
      	</p>
        <p>
       <%= link_to "View More", "friends/" + friend.twitterHandle, :style => 'font-weight:bold' %>
        </p>
  	  </div>
    </li>
    <% end %>
</ul>
</div>




