
<div style="width:600px; margin:0 auto;">
<h1>All friends</h1>
<h4 style=""></h4>
<ul class="collapsible" data-collapsible="accordion">

<% @friends.each do |friend| %>
    <li>
    <% latestTweet = CLIENT.user_timeline(friend.twitterHandle)[0] %>
      <div class="collapsible-header">

      	<img src="<%= latestTweet.user.profile_image_url %>" width="40" height="40"><%= link_to friend.firstName + " (@" + friend.twitterHandle + ")", "friends/" + friend.id.to_s %>
          <div style="float:right">  
          <%= (Indico.sentiment(latestTweet.text)*100).round %>
          <%= link_to "<i class='mdi-content-clear'></i>".html_safe, "/friends/"+friend.id.to_s, :method => 'delete' %>
          
          </div>
      </div>
      <div class="collapsible-body">
      	<p>
      		<%= latestTweet.text %>
      	</p>
  	  </div>
    </li>
    <% end %>
</ul>
</div>




