
<div style="width:600px; margin:0 auto; min-height:400px">
<h4 style=""></h4>
<ul class="collapsible" data-collapsible="accordion">

<% @friends.each do |friend| %>
    <li>
    <% latestTweet = Tweet.where(twitterHandle:friend.twitterHandle).order(Tweet.arel_table[:tweetTime].desc).limit(1)[0] %>
    <% score = latestTweet.tweetScore %>

      <div class="collapsible-header" style="background-color:<%= @scoreColorArray[(score/10).round]%>; color=#FFFFFF ">

      	<span><img src="<%= Friend.where(twitterHandle:friend.twitterHandle)[0].friendImgURL %>" width="50" height="50"></span>
        <span style='color:#212121; font-size:2em;'><%= friend.firstName %></span>


      </div>
      <div class="collapsible-body" style="background-color:<%= @dropdownColorArray[(score/10).round]%>;">
      	<p>
        <%= auto_link(latestTweet.tweetText).html_safe %>
      	</p>
        <p>
       <%= link_to "More <i class='mdi-action-trending-up'></i>".html_safe, "friends/" + friend.twitterHandle, :style => 'font-weight:bold' %>
        </p>
  	  </div>
    </li>
    <% end %>
</ul>
</div>




