<div style="width:600px; margin:0 auto;">
<br>
<h5><i><%= link_to "Twentiments > " , :friends  %><%= "@" + @friend.twitterHandle %></i></h5>
<div class="row" >
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text" style="background-color:<%= @scoreColor %>" >
              <span class="card-title">	<img src="<%= @tweets[0].user.profile_image_url%>"> <%= @friend.firstName %> 
              	<i><%=link_to "@" + @friend.twitterHandle, "http://twitter.com/" + @friend.twitterHandle %></i>

              </span>
              <p><%= @tweets[0].text %></p>
            </div>
            <div class="card-action" style="background-color:<%= @scoreColor %>">
              <h4>Score: <%= @score %></h4>
              
            </div>

          </div>
        </div>

      </div>
<div id="container" style="width:100%; height:400px;"></div>


      <script>
$(function () {
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'area'
        },  

        title: {
            text: ""
        },
        xAxis: {

            categories: ['','','','','','','','','',"Latest Tweet"]
        },
        yAxis: {
            title: {
              text: "Sentiment Analysis Scores"
            }
        },
        series: [{
            showInLegend: false,
            data: [{
                y: <%= @historicalScores[9] %>,
                tweet: "<%= @tweets[9].text %>"
            }, {
                y: <%= @historicalScores[8] %>,
                tweet: "<%= @tweets[8].text %>"
            }, {
                y: <%= @historicalScores[7] %>,
                tweet: "<%= @tweets[7].text %>"
            },{
                y: <%= @historicalScores[6] %>,
                tweet: "<%= @tweets[6].text %>"
            },{
                y: <%= @historicalScores[5] %>,
                tweet: "<%= @tweets[5].text %>"
            },{
                y: <%= @historicalScores[4] %>,
                tweet: "<%= @tweets[4].text %>"
            },{
                y: <%= @historicalScores[3] %>,
                tweet: "<%= @tweets[3].text %>"
            },{
                y: <%= @historicalScores[2] %>,
                tweet: "<%= @tweets[2].text %>"
            },{
                y: <%= @historicalScores[1] %>,
                tweet: "<%= @tweets[1].text %>"
            },{
                y: <%= @historicalScores[0] %>,
                tweet: "<%= @tweets[0].text %>"
            }]
        }],
        tooltip: {
            formatter: function() {return ' ' +
                'Score: ' + this.point.y + '<br />' +
                'Tweet: ' + this.point.tweet
                ;
            }
        }
    });
});
</script>
