<div style="width:600px; margin:0 auto;">
<h1>
	<img src="<%= @tweets[0].user.profile_image_url%>"> <%= @friend.firstName %>
</h1>

<h5>
	<i><%=link_to "@" + @friend.twitterHandle, "http://twitter.com/" + @friend.twitterHandle %></i>
</h3>

<h2>Latest Tweet:</h2>
<h3><%= @tweets[0].text %></h3>
<h4>Score: <%= (Indico.sentiment(@tweets[0].text)*100).round %></h4>
<hr>
<h3>Recent Tweets:</h3>
<% for i in 1..10 %>
	<li><%= @tweets[i].text %></li>
<% end %>

