<div style="width:600px; margin:0 auto;">
<h5><i><%= link_to "Twentiments > " , :friends  %><%= "@" + @friend[0].twitterHandle %></i></h5>
<div class="row" >
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text hoverCard" style="background-color:<%= @scoreColor %>" >
              <span class="card-title"> <img src="<%= @tweets[9].user.profile_image_url%>"> <%= @friend[0].firstName %> 
                <i><%=link_to "@" + @friend[0].twitterHandle, "http://twitter.com/" + @friend[0].twitterHandle %></i><span class='right'>
                <a class="waves-effect waves-light btn" title="Delete" onclick="toast('<span>Remove Friend</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;/friends/<%=@friend[0].twitterHandle%>&quot; data-method=&quot;delete&quot;>Confirm?<a>', 8000)"><i class='mdi-content-clear'></i></a>
                </span>
              </span>
              <div> <% if @friend[0].friendDescription %>
              <i><%= auto_link(@friend[0].friendDescription).html_safe %></i>
              <% end%> </div>
              <span class='right hoverScore'>
                </span>
              <h5 class='tweet'><div id='reporting'>Hover over chart below to view prior tweets.</div></h5>
            </div>
          </div>
        </div>
      </div>
      
<div id="container" style="width:100%; height:300px;"></div>
      <script>
$(function () {
    var $reporting = $('#reporting');
    var $hoverScore = $('#hoverScore');
    var colorArray = [
                            "#FF5782",  
                            "#FF5782",  
                            "#FF5782",  
                            "#FF5782",  
                            "#607D8B",  
                            "#607D8B",  
                            "#607D8B",  
                            "#8BC34A",  
                            "#8BC34A",  
                            "#8BC34A",  
                            "#8BC34A" ] 
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'areaspline',
            backgroundColor:'rgba(255, 255, 255, 0.1)'
        },  
        title: {
            text: ""
        },
        colors: ['#727272', '#727272'],
        credits: {
            enabled: false
        },
        xAxis: {

            categories: ['','','','','','','','','',"Latest Tweet"]
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
              text: "Sentiment Analysis Scores"
            }
        },
        
        series: [{
            showInLegend: false,
            data: [{
                y: <%= @latestTweets[9].tweetScore %>,
                tweet: "<%= @latestTweets[9].tweetText.gsub(/\n/,"") %>"
            }, {
                y: <%= @latestTweets[8].tweetScore %>,
                tweet: "<%= @latestTweets[8].tweetText.gsub(/\n/,"") %>"
            }, {
                y: <%= @latestTweets[7].tweetScore %>,
                tweet: "<%= @latestTweets[7].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[6].tweetScore %>,
                tweet: "<%= @latestTweets[6].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[5].tweetScore %>,
                tweet: "<%= @latestTweets[5].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[4].tweetScore %>,
                tweet: "<%= @latestTweets[4].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[3].tweetScore %>,
                tweet: "<%= @latestTweets[3].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[2].tweetScore %>,
                tweet: "<%= @latestTweets[2].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[1].tweetScore %>,
                tweet: "<%= @latestTweets[1].tweetText.gsub(/\n/,"") %>"
            },{
                y: <%= @latestTweets[0].tweetScore %>,
                tweet: "<%= @latestTweets[0].tweetText.gsub(/\n/,"") %>"
            }]
        }],
        plotOptions: {
            series: {
                point: {
                    events: {
                        mouseOver: function () {
                            $reporting.html(this.tweet).twitter_autolink();
                            $('.hoverCard').css('background-color', colorArray[Math.round((this.y)/10)]);
                        }
                    }
                }

            }
        },
        tooltip: {
            animation: false,
            followPointer: false,
            shadow: false,
            shared: true,
            backgroundColor: 'rgba(255, 255, 255, 0.1)',
            borderColor: 'rgba(255, 255, 255, 0.1)',
            borderRadius: 10,
            borderWidth: 2,
            crosshairs: [true, false],
            formatter: function() {
            },
            positioner: function () {
                return { x: 10, y: 35 };
            }

        }
    });
});
</script>

<script>
$(document).ready( toast('Hover over the chart to view tweet mood history', 8000));
</script>