<div style="width:600px; margin:0 auto;">
<nav class="lighten-1" role="navigation" style="background-color:#ff5722">
    <div class="container">
      <div class="nav-wrapper">

		<%= link_to "<i class = mdi-editor-mode-comment></i>Twentiments".html_safe, :friends, :class => "brand-logo" %>
      </div>

    <ul class="mobile">
      <li></li>
    </ul>
  </nav>
      <div class="row" style='height:47px'>
        <div class='col s3' style='font-size:30px'><a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-social-person-add" style="font-size:30px"></i> Add</a></div>

        <div class='col s3'><%= link_to "<i class = mdi-action-dns></i> View".html_safe, :friends, :style => 'font-size:30px' %></div>

        <div class='col s3' style='font-size:20px'><a class="waves-effect waves-light modal-trigger" href="#modal2"><i class="mdi-action-swap-vert-circle" style="font-size:30px"></i> Compare</a></div>
        <div class='col s3'><%= link_to "<i class = mdi-action-stars></i> About".html_safe, "https://github.com/bashmb/twentiments", :style => 'font-size:30px' %></div>
    </div>

</div>




<!-- Modal Structure -->
<div id="modal1" class="modal full">
  <h4>Add new friend</h4>
    <p>Please enter your friend's Twitter handle below and click "Add Friend".</p>
    <%= form_for (Friend.new) do |f| %>
      <p>
        <%=  f.text_field :twitterHandle, :placeholder => "@Twitter Handle" %>
      </p>
      <div class="action-bar">
      <p style="float:right">
      <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-default modal-action" data-dismiss="modal">Add Friend</button>
        </p>
      </div>
    <% end %> 

</div>

<!-- Modal Structure -->
<div id="modal2" class="modal full">

  <h4>Compare Friends</h4>
    <p>To compare Twitter users, provide their Twitter handles below.</p>
    <%= form_tag("/friends/compareb", method: "") do %>

      <p>

        <%=  text_field_tag('user_1', nil, :class => 'typeahead' )%>
        - with - 
        <%=  text_field_tag('user_2', nil, :class => 'typeahead' )%>
      </p>
<br>
<br>
      <div class="action-bar">
      <p style="float:right">
      <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-default modal-action" id="compareBtn" data-dismiss="modal">Compare!</button>
        </p>
      </div>
    <% end %> 

</div>


<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
<script>
  $('#compareBtn').click(function() {
      location.href = '/friends/compare/' + $('#user_1').val() + '/with_user/' + $('#user_2').val()
  });
</script>

<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;
 
    // an array that will be populated with substring matches
    matches = [];
 
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
 
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });
 
    cb(matches);
  };
};

var states = <%= raw @friendArray %>;
 
$('.typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});
</script>
