<!DOCTYPE html>
<html>
<head>
  <title>Twentiments</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>

<script>
// Initialize collapse button
  $(".button-collapse").sideNav();
  </script>
</body>
</html>
