<!DOCTYPE html>
<html>
<head>
  <title>Twentiments</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


</head>
<body>
<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>
<script>
// Initialize collapse button
  $(".button-collapse").sideNav();
  </script>
</body>
</html>
